@media only screen and (min-width: 410px) {
    body{
        main{
            #tasks-display{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    body{
        main{
            #tasks-display{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}