.action-btns {
  display: flex;
  justify-content: flex-end;
  margin-right: 24px;
  #footer-addbtn {
    border: none;
    background: none;
    font-size: 3rem;
    color: white;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    &:hover {
      transform: scale(110%);
      color: $yellow;
    }
  }
}
