#tasks-display {
  width: 100%;
  .card {
    width: 80%;
    border: 1px solid black;
    border-radius: 25px;
    margin: 1em auto;
    background-color: white;
    padding: 1em 5%;
    .card-header {
      display: flex;
      justify-content: space-between;
      .card-name {
        font-size: 3em;
        font-weight: $boldFont;
      }
      .filter-toDo {
        height: 10px;
        width: 10px;
        cursor: pointer;
        border-radius: 50%;
        background-color: red;
      }
      .filter-inProgress {
        @extend .filter-toDo;
        background-color: orange;
      }
      .filter-done {
        @extend .filter-toDo;
        background-color: green;
      }
    }

    .card-main {
      .card-description {
        margin: 1em 0;
      }
    }
    .card-footer {
      display: flex;
      justify-content: space-between;
      // .remaining-time{

      // }
    }
  }
}
