#tasks-display{
    width: 100%;
    .card{
        width: 80%;
        border: 1px solid black;
        border-radius: 25px;
        margin: 1em auto;
        padding: 1em 5%;
        .card-header{
            .card-name{
                font-size: 3em;
                font-weight: $boldFont;                
            }
        }
        .card-main{
            .card-description{                
                margin: 1em 0;
            }
        }
        // .card-footer{
            // .remaining-time{
                
            // }
        // }
    }
}