body {
  header {
    #modale {
      z-index: 5000;
      width: 50%;
      border: 1px solid black;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 1em 10% 3em 10%;
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background: #2980b9;
      background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);
      background: linear-gradient(to right, #2c3e50, #2980b9);
      color: white;
      #close-modale {
        border-style: none;
        font-size: 1.2em;
        background-color: #2980b9;
        width: 2em;
        align-self: flex-end;
        color: white;
        cursor: pointer;
        &:hover {
          background-color: white;
          color: black;
        }
      }
      label {
        margin: 0.7em 0;
      }
      input {
        margin-bottom: 0.7em;
      }
      #create-card-button {
        margin-top: 10px;
        cursor: pointer;
      }
    }
  }
}

.hidden {
  visibility: hidden;
}

@media only screen and (min-width: 1024px) {
  body {
    header {
      #modale {
        width: 40%;
        padding: 1em 5% 3em 5%;
      }
    }
  }
}
